@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-950 text-white;
}

body.light {
  color-scheme: light;
  @apply bg-white text-gray-900;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 dark:bg-gray-600 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600 dark:bg-gray-500;
}
